###############################################################################################
# Output Format for earthquake
#
# Use next key words:
#
# %date%
# %place%
# %mag%
# %longitude%
# %latitude%
# %depth%
#
###############################################################################################
EarthQuake event:
Date: %date%
Magnitude: %mag%
Coordinates: [%longitude%, %latitude%]
Focal depth: %depth%
Closest place: %place%