###############################################################################################
# Output Format for earthquake
#
# Use next key words:
#
# %date%
# %place%
# %mag%
# %longitude%
# %latitude%
# %depth%
#
###############################################################################################