###############################################################################################
# Output Format for earthquake
#
# Use next key words:
#
# %date%
# %place%
# %mag%
# %longitude%
# %latitude%
# %depth%
#
###############################################################################################
New EarthQuake:
Mag = %mag%, Coord = [%longitude%, %latitude%], Depth: %depth%